.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    border: 3px dotted darkgreen;
    margin: auto;
    align-items: stretch;
 }
 .gallery img{
    width: 90%;
    border: 3px dotted darkslateblue;
 }