/* body{
    background-color: black;
    color: white
} */

/* .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    border: 3px solid silver;
    margin: auto;
    justify-items: center;
    align-items: center;
 }
 .gallery img{
    width: 90%;
    border: 3px dashed darkslateblue;
 } */
 html{
    background-color: black;
    color:white;
    scroll-behavior: smooth;
}

h1{
    font-size: 50px;
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
    text-decoration: underline;
}

nav{
    display: flex;
    width:100%;
    /* padding-bottom: 15px; */
    justify-content: space-between;
    border-bottom: 2px solid white;
}
nav ul{
    display:flex;
    flex-direction: inherit;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width:100%;
  }

nav ul li{
    text-decoration: none;
    font-family:"Roboto", Condensed,sans-serif;
}


nav a:active{ 
    color: blue;
    text-decoration-color: blue;
}

nav a:hover{
    color:blue;
}

/* my stuff for barc*/
body{
    /* background-image: url("above.png"); */
    background-color: black;
    color: white
}

.Bgallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 45px;
 }

 .Bgallery img{
    border: #955251 solid 3px;
    border-radius: 5px;
    padding: 6px;
 }

.lb-data .lb-caption {
    font-size: 30px;
}

.Bcontainer h2{
    text-align: center;
}

/* my stuff for compare */

.compare_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    /* flex-wrap: ; */
}

.compare_container .comp{
    margin: 10px;
    padding: 10px;
    border: pink 2px solid;
    border-radius: 5px;
    text-align: center;
}

.compare_container .compare_overview{
    display: grid;
    color: white;
    height: 400px;                
    grid-column: 1/-1;
    grid-column: 1/-1;
    background-image: url(barc_images/above.jpg);
    background-color: gray;
  }

.compare_overview p{
    color: white;
    font-size: 24px;
    padding: 0 100px;
    text-align: center;
  }
