
nav{
    background-color: black;
}

div{
    background-color: black;
    display: grid;
    grid-template-columns: 50% 50%;
    /* justify-content: stretch; */
    justify-items: center;
    align-items: center;
    width:100%;
    /* align-items: stretch; */
    row-gap: 5px;
}

p{
    color: white;
}

img{
    border: 2px solid gold;
    width:90%;
    padding: 5px;
    /* justify-content: stretch; */
}

.controls{
    display: inline-block;
    padding-bottom: 10px;
}

img:nth-child(9){
    /* align-items: center; */
    border: 2px solid red;
}



h1{
    text-decoration: underline;
}

.control{
    background-color:white;

}

figcaption{
    text-align: center;
    
}