
/* nav .navLondon{
    background-color: black;
} */
/* 
.lon div{
    background-color: black;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    width:100%;
    row-gap: 5px;
}

footer p{
    color: white;
}

.gallery img{
    border: 2px solid gold;
    width:90%;
    padding: 5px;
    justify-content: center;
}

.lon .controls{
    display: inline-block;
    padding-bottom: 10px;
    text-align: center;
}


h1 .head1{
    text-decoration: underline;
}

.control{
    background-color:white;
    font-size: large;
}

figcaption{
    text-align: center;
    padding:20px;
    font-size: 20px;
}

footer{
    justify-content: left;
}

.control:hover {
  background-color: gold; 
  color: black;
}



.first a{
    color: black;
    text-decoration: none;
}
.second a{
    color: blue;
    text-decoration: underline;
} */
