

h1{
    font-size: 50px;
    display: block;
    text-align: center;
    
}
nav{
    background-color: rgb(255, 255, 164);
    border: 2px solid black;
    display: inline-block;
    padding: 20px;
    width:100%;
    margin-right: 15px;
}
nav ul{
    display:flex;
    flex-direction: inherit;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

nav ul li{
    text-decoration: none;
    font-family:"Roboto", Condensed,sans-serif;
}

a:active{
    color:blueviolet;
    text-decoration-color: blueviolet;
}
a:visited{ 
    color: blue;
    text-decoration-color: blue;
}

h3{
    font-size: 30px;
    text-align: center;
}
main ul li{
    text-align: center;
}

p{
    display: block;
    font-size: 20px;
    border: 3px solid black;
    width:50%;
    border-radius: 10px;
    justify-items:center
}