html{
    background-color: black;
    color:white;
}

h1{
    font-size: 35px;
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
    text-decoration: underline;
}

/* meghan's barc styling*/
body{
    background-color: black;
    color: white
}

.Bgallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
 }

 .Bgallery img{
    border: #955251 solid 3px;
    border-radius: 5px;
    padding: 6px;
 }

.lb-data .lb-caption {
    font-size: 30px;
}

.Bcontainer h2{
    text-align: center;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
  }

.skip a:focus{
    top: 20px;
}

/*meghan's compare styling*/
.compare_container{
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.comp{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.compare_overview{
    display: grid;
    color: white;
    height: 300px;                
    grid-column: 1/-1;
    background-image: url("../barc_images/lond.jpeg");
    background-color: gray;
  }

.compare_overview p{
    color: white;
    font-size: 20px;
    text-align: center;
  }

.compare_overview h2{
    color: white;
    font-size: 30px;
    padding: 100px 0px 0px 0px;
    text-align: center;
  }

.comp h3{
    padding-bottom: 8px;
    font-size: 20px;
}

.comp p{
    padding: 10px;
}

.barc{
    border: red 2px solid;
}
.lond{
    border: blue 2px solid;
}

.form{
    border: purple 2px solid;
    grid-column: 1/-1;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.form h2{
    font-size: 25px;
}

.form p a:visited{
    color: lightblue
}
.form p a:link{
    color: white
}

/* sam's homepage and london styling */
nav{
    display: inline-grid;
    grid-template-columns: 1/5 4/5;
    width:100%;
    justify-content: center;
    border-bottom: 2px solid white;
}
nav ul{
    display:flex;
    flex-direction: inherit;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width:100%;
    overflow: none;
}

nav ul li{
    text-decoration: none;
    font-family:"Roboto", Condensed,sans-serif;
}


nav a:hover{
    text-decoration: underline;
    color:blue;
}

.bottom h2{
    font-size: 40px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 15px;
    color:salmon;
    text-decoration: underline;
}

.bottom h2 li{
    align-content: center;
    justify-content: center;
}

.all p{
    display: block;
    font-size: 20px;
    width:100%;
    text-align:center;
    padding: 5px;
    align-self: center;
}

nav img{
    border:none;
    justify-self: center;
    align-content: center;
    width:400px;
}

.new img{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 3px;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
}


.first{
    background-color: aqua;
    padding: auto;
    border: 2px solid black;
}

header p{
    padding: 10px;
    border-bottom: 15px;
    margin-bottom: 20px;
}
.bottom{
    padding-top:15px;
    padding-bottom: 25px;
}

nav ul{
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    margin: 0 5px;
}

.second{
    background-color: pink;
    padding: auto;
    border: 2px solid black;
}

.third{
    background-color: lightgreen;
    padding: auto;
    border: 2px solid black;
}

.fourth{
    background-color: lightyellow;
    padding: auto;
    border: 2px solid black;
}

nav ul li{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


footer{
    display:grid;
    border-top: 2px white solid;
    margin-top: 20px;
    padding-top:10px;
    text-align: left;
    justify-content: left;
    align-content: center;
    background: radial-gradient(circle, rgba(75,74,74,1) 0%, rgba(0,0,0,1) 100%);
    font-size: 15px;
}

.earth{
    padding-right: 5px;
}

.all footer p{
    margin-bottom: 7px;
    text-align: left;
    padding-left:20px;
}

footer p{
    display: block;
    margin-bottom: 7px;
    text-align: left;
    padding-left:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    font-size: 20px;
    width: 100%;
    /* padding: 5px; */
    align-self: center;
}

.e{
    padding:0;
}

nav a{
    color:black;
    text-decoration: none;
}

.new p{
    padding: 20px;
    border: 10px;
    margin: 20px;
    text-align: left;
    align-content: center;
    width: 100%;
    font-size: 20px;
}


footer a{
    color: #03a9f4;
}

nav ul li{
    font-family:"Roboto", Condensed,sans-serif;
    padding:15px;
    text-align: center;
}

nav ul{
    max-height: 90px;
    align-self: center;
    justify-content: right;
    font-size: 16px;
}

.new {
    position: relative;
    width: 96%;
  }
  
.image {
    display: block;
    width: 100%;
    height: auto;
}

.reasons{
    display: grid;
    justify-content: center;
    font-size: 20px;
    text-align: left;
    font-size: 25px;
    row-gap: 10px;
}

.question{
    font-size: 25px;
}

main .new{
    display:grid;
    width:90%;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;

}

main .new img{
    width:100%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.text2{
    visibility: hidden;
}

.text{
    visibility:hidden;
}


/* THIS IS FOR LONDON CSS */
nav .navLondon{
    background-color: black;
}

.lon div{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width:100%;
    row-gap: 5px;
}

.all footer p{
    color: white;
}

.gallery img{
    border: 2px solid gold;
    width:90%;
    padding: 5px;
    justify-content: center;
}

.lon .controls{
    display: inline-block;
    padding-bottom: 10px;
    text-align: center;
}


h1 .head1{
    text-decoration: underline;
}

.control{
    background-color:white;
    font-size: large;
    color:black;
}

figcaption{
    text-align: center;
    padding:20px;
    font-size: 20px;
}

.all footer{
    justify-content: left;
}

.control:hover {
  background-color: gold;
  color: black;
}

.active a{ /*this part is what makes the header chnage color (make nav have active in right page)*/
    text-decoration: underline;
    color: blue;
}

.e p{
    text-align: left;
}

/* our media queries */
@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
    }

@media only screen and (min-width: 850px){
    nav{
        display: flex;
        justify-content: space-between;
    }

    nav img{
        display: flex;
        justify-self: left;
        width:35%;
        padding-left: 10px;
    }
    nav ul{
        display: flex;
        justify-self: right;
        justify-content: space-around;
        width:70%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        margin: 0 5px;
        font-size: 18px;
    }

    footer{
        display:grid;
        grid-template-columns: 8% 60% 30%;
        border-top: 2px white solid;
        margin-top: 20px;
        padding-top:10px;
        text-align: left;
        justify-content: left;
        align-content: center;
    }

    .compare_container{
        grid-template-columns: 1fr 1fr;
    }

    .compare_container .compare_overview h2{
        font-size: 35px;
    }

    .compare_overview p{
        font-size: 22px;
    }

    .Bgallery{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
     }

    main .new{
        display:grid;
        width:90%;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        justify-content: center;
        align-items: center;
    
    }

    .lon div{
        background-color: black;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        align-items: center;
        width:100%;
        row-gap: 5px;
    }
    h1{
        font-size: 40px;
    }

}

@media only screen and (min-width: 1200px){
    nav{
        display: flex;
        justify-content: space-between;
    }
    nav ul{
        display: flex;
        justify-self: right;
        justify-content: right;
        width:70%;
        font-size: 20px;
    }
    nav img{
        display: flex;
        justify-self: left;
        width:30%;
        align-self: center;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
      }
      
    .new:hover .overlay {
        opacity: 1;
    }
    
    .text { 
        visibility: visible;
        color: black;
        font-size: 30px;
        position: absolute;
        top: 15%;
        left: 20%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 35px;
      }

    .text2{ 
        visibility:visible;
        color: black;
        font-size: 30px;
        position: absolute;
        top: 15%;
        left: 25%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 35px;
    }
    .image:hover{
        opacity:.5;
    }
    .new p{
        padding: 20px;
        margin-left: 30px;
        text-align: left;
        align-content: center;
        width: 100%;
        font-size: 25px;
    }

    .reasons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        text-align: left;

    }

    footer{
        display:grid;
        grid-template-columns: 8% 60% 30%;
        border-top: 2px white solid;
        margin-top: 20px;
        padding-top:10px;
        text-align: left;
        justify-content: left;
        align-content: center;
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,255,113,1) 0%, rgba(218,165,41,1) 13%, rgba(181,109,41,1) 21%, rgba(75,26,10,1) 27%, rgba(12,18,40,1) 33%, rgba(0,0,0,1) 45%);
    }

    .compare_container{
        grid-template-columns: 1fr 1fr;
    }

    .compare_container .compare_overview h2{
        font-size: 40px;
    }

    .compare_overview p{
        font-size: 24px;
    }

    .Bgallery{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 45px;
     }
     h1{
        font-size: 50px;
    }
    
}