html{
    background-color: black;
    color:white;
}

h1{
    font-size: 50px;
    display: block;
    text-align: center;
    padding-bottom: 20px;
    color:white;
}

nav{
    display: inline-block;
    /* padding: 20px; */
    width:100%;
    /* border-top: 10px solid #d8d8d8; */
    /* margin-right: 15px; */
    padding-bottom: 20px;
}
nav ul{
    display:flex;
    flex-direction: inherit;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

nav ul li{
    text-decoration: none;
    font-family:"Roboto", Condensed,sans-serif;
}


nav a:active{ 
    color: blue;
    text-decoration-color: blue;
}

nav a:hover{
    color:blue;
}

h3{
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
}
main ul li{
    text-align: center;
}

p{
    display: block;
    font-size: 20px;
    /* border: 3px solid black; */
    width:50%;
    border-radius: 10px;
    text-align:center;
    padding: 5px;
    align-self: center;
    
}

img{
    display: inline-block;
    flex-wrap: wrap;
}

main a{
    position:absolute; 
    top:-40px;
}

main a:focus{
    top:20px;
}

.first{
    background-color: aqua;
    padding: 20px 50px;
    border: 2px solid black;
    /* border-radius: 20px; */
}

header p{
    padding: 10px;
    border-bottom: 15px;
}

nav ul{
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    margin: 0 2px;
}

.second{
    background-color: pink;
    padding: 20px 50px;
    border: 2px solid black;
}

.third{
    background-color: lightgreen;
    padding: 20px 50px;
    border: 2px solid black;
}

.fourth{
    background-color: lightyellow;
    padding: 20px 50px;
    border: 2px solid black;
}

nav ul li{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

footer{
    /* padding-top: 50px; */
    border-top: 2px white solid;
    margin: 20px;
    padding:5px;
    text-align: left;
}

a{
    color:black;
    text-decoration: none;
}

footer a{
    color:white;
}