html{
    background-color: black;
    color:white;
}

h1{
    font-size: 50px;
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
    text-decoration: underline;
}

nav{
    display: flex;
    width:100%;
    /* padding-bottom: 15px; */
    justify-content: space-between;
    border-bottom: 2px solid white;
}
nav ul{
    display:flex;
    flex-direction: inherit;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width:100%;
  }

nav ul li{
    text-decoration: none;
    font-family:"Roboto", Condensed,sans-serif;
}


nav a:active{ 
    color: blue;
    text-decoration-color: blue;
}

nav a:hover{
    color:blue;
}

h2{
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
    color:salmon;

}

h2 li{
    align-content: center;
    justify-content: center;
}
main ul li{
    text-align: center;
}

p{
    display: block;
    font-size: 20px;
    /* border: 3px solid black; */
    width:100%;
    /* border-radius: 10px; */
    text-align:center;
    padding: 5px;
    align-self: center;
    
    
}

nav img{
    border:none;
    justify-content: left;
    width:400px;
}

img{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 3px;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
}

main a{
    position:absolute; 
    top:-40px;
}

main a:focus{
    top:20px;
}

.first{
    background-color: aqua;
    padding: auto;
    border: 2px solid black;
    
    
}

header p{
    padding: 10px;
    border-bottom: 15px;
    /* border-bottom: dotted white 5px; */
    margin-bottom: 20px;
    
}

nav ul{
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    margin: 0 5px;
}

.second{
    background-color: pink;
    padding: auto;
    border: 2px solid black;
}

.third{
    background-color: lightgreen;
    padding: auto;
    border: 2px solid black;
}

.fourth{
    background-color: lightyellow;
    padding: auto;
    border: 2px solid black;
}

nav ul li{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


footer p{
    /* padding-top: 50px; */
    border-top: 2px white solid;
    margin-top: 20px;
    padding:10px;
    text-align: left;
    /* border-radius: none; */
}

a{
    color:black;
    text-decoration: none;
}

footer a{
    color:white;
}

nav ul li{
    font-family:"Roboto", Condensed,sans-serif;
    padding:15px;
    text-align: center;
}

nav ul{
    max-height: 90px;
    align-self: center;
    justify-content: right;
    font-size: 20px;
}

.new {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: black; */
  }
  
.new:hover .overlay {
    opacity: 1;
}

.text {
    color: black;
    font-size: 50px;
    position: absolute;
    top: 10%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.text2{
    color: black;
    font-size: 50px;
    position: absolute;
    top: 20%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.image:hover{
    opacity:.5;
}