html{
    background-color: black;
    color:white;
}

h1{
    font-size: 50px;
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
    text-decoration: underline;
}

nav{
    display: inline-grid;
    grid-template-columns: 1/5 4/5;
    width:100%;
    /* padding-bottom: 15px; */
    justify-content: center;
    border-bottom: 2px solid white;
}
nav ul{
    display:flex;
    flex-direction: inherit;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width:100%;
    overflow: none;
  }

nav ul li{
    text-decoration: none;
    font-family:"Roboto", Condensed,sans-serif;
}


nav a:active{ 
    color: blue;
    text-decoration-color: blue;
}

nav a:hover{
    text-decoration: underline;
    color:blue;
}

h2{
    font-size: 40px;
    text-align: center;
    padding-bottom: 15px;
    color:salmon;

}

h2 li{
    align-content: center;
    justify-content: center;
}
main ul li{
    text-align: center;
}

p{
    display: block;
    font-size: 20px;
    /* border: 3px solid black; */
    width:100%;
    /* border-radius: 10px; */
    text-align:center;
    padding: 5px;
    align-self: center;
    
    
}

nav img{
    border:none;
    justify-self: center;
    align-content: center;
    width:400px;
}

img{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 3px;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
}

main a{
    position:absolute; 
    top:-40px;
}

main a:focus{
    top:20px;
}

.first{
    background-color: aqua;
    padding: auto;
    border: 2px solid black;
}

header p{
    padding: 10px;
    border-bottom: 15px;
    /* border-bottom: dotted white 5px; */
    margin-bottom: 20px;
    
}

nav ul{
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    margin: 0 5px;
}

.second{
    background-color: pink;
    padding: auto;
    border: 2px solid black;
}

.third{
    background-color: lightgreen;
    padding: auto;
    border: 2px solid black;
}

.fourth{
    background-color: lightyellow;
    padding: auto;
    border: 2px solid black;
}

nav ul li{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


footer p{
    /* padding-top: 50px; */
    border-top: 2px white solid;
    margin-top: 20px;
    padding:10px;
    text-align: left;
    /* border-radius: none; */
}

a{
    color:black;
    text-decoration: none;
}

footer a{
    color:white;
}

nav ul li{
    font-family:"Roboto", Condensed,sans-serif;
    padding:15px;
    text-align: center;
}

nav ul{
    max-height: 90px;
    align-self: center;
    justify-content: right;
    font-size: 20px;
}

.new {
    position: relative;
    width: 100%;
  }
  
.image {
    display: block;
    width: 100%;
    height: auto;
}

.reasons{
    display: grid;
    justify-content: center;
    font-size: 20px;
    text-align: left;
}

.question{
    font-size: 25px;
}

main .new{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    justify-content: center;
}

main .new img{
    width:100%;
    /* height:100%; */
}

.first a{
    color: blue;
    text-decoration: underline;
}

.text2{
    visibility: hidden;
}

.text{
    visibility:hidden;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
  }

.skip a:focus{
    top: 20px;
}


@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
    }

@media only screen and (min-width: 800px){
    nav{
        display: flex;
        justify-content: space-between;
        /* grid-template-row: 1/5 1/5 1/5 1/5 1/5; */
    }
    nav ul{
        display: flex;
        justify-self: right;
        justify-content: space-around;
        width:70%;
        
    }

    nav img{
        display: flex;
        justify-self: left;
        width:35%;
    }
    nav ul{
        display: flex;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        margin: 0 5px;
    }
}

@media only screen and (min-width: 1100px){
    nav{
        display: flex;
        justify-content: space-between;
        /* grid-template-row: 1/5 1/5 1/5 1/5 1/5; */
    }
    nav ul{
        display: flex;
        justify-self: right;
        justify-content: right;
        width:70%;
        
    }
    nav img{
        display: flex;
        justify-self: left;
        width:30%;
        align-self: center;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        /* background-color: black; */
      }
      
    .new:hover .overlay {
        opacity: 1;
    }
    
    .text { 
        visibility: visible;
        color: black;
        font-size: 30px;
        position: absolute;
        top: 15%;
        left: 20%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
    .text2{ 
        visibility:visible;
        color: black;
        font-size: 30px;
        position: absolute;
        top: 15%;
        left: 25%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .image:hover{
        opacity:.5;
    }
}