/* body{
    background-color: black;
    color: white
} */

/* .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    border: 3px solid silver;
    margin: auto;
    justify-items: center;
    align-items: center;
 }
 .gallery img{
    width: 90%;
    border: 3px dashed darkslateblue;
 } */
 html{
    background-color: black;
    color:white;
}

h1{
    font-size: 50px;
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
    text-decoration: underline;
}

nav{
    display: flex;
    width:100%;
    /* padding-bottom: 15px; */
    justify-content: space-between;
    border-bottom: 2px solid white;
}
nav ul{
    display:flex;
    flex-direction: inherit;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width:100%;
  }

nav ul li{
    text-decoration: none;
    font-family:"Roboto", Condensed,sans-serif;
}


nav a:active{ 
    color: blue;
    text-decoration-color: blue;
}

nav a:hover{
    color:blue;
}

/* my stuff */
body{
    /* background-image: url("above.png"); */
    background-color: black;
    color: white
}

.Bgallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
 }

 .Bgallery img{
    border: silver solid 5px;
    border-radius: 5px;
    padding: 5px;
 }

.lb-data .lb-caption {
    font-size: 30px;
}

.Bcontainer h2{
    text-align: center;
}